body {
    background-color:#547fff; font-family:Arial; font-size:100%;
}
h1{
    background-color: rgb(255, 100, 100); color: white; font-size: 400%; text-align: center;
}
h3{
    font-size: 200%; text-align: center; color: white; background-color: rgb(127, 170, 255);
}